<html>
<head>
    <title>A country it is.</title>
</head>

<body>
    <h1 align="center"><%=country.name%></h1>
    <div align="center">
        <ul>
            <li><%=country.resources.pizzas%> pizzas</li>
        </ul>
    </div>
</body>
</html>